@charset "utf-8";
/* CSS Document */

body{
	background-image:url(../images/first_page.jpg);
	min-height:637px;
	min-width:1366px;
	background-size:100%;
}
#guitar{
	position:absolute;
	width:200px;
	height:150px;
	
	
}

@keyframes myguitar{
	from {background-color:#0FC;}
	to {background-color:#F00;}
	}

