
@charset "utf-8";
/* CSS Document */

body{
	background-color:#CFC;
	margin:0;
	background-image:url(../../u=2762965999,717909482&fm=27&gp=0.jpg);
	background:no-repeat;

}
a{
	text-decoration:none;
}

#header{

	width:100%;
	height:0.937rem;
	background-color:#C33;
	padding:0;
	margin:0 auto;
	background-image:url(../images/header.jpg);



}
#navigation{
	width:40%;
	height:0.937rem;
	float:right;
	padding:0;
	margin:0;
	background-color:#F09;
	float:right;
}

#nav_ul{
	 list-style:none;
	 margin:0 0.937rem 0 0;
	 padding:0;
	 height: 100%;
	 float:right;
}

#nav_ul li{
	float:left;
	list-style:none;
	padding:0;
	margin:0;
	text-align:center;
	font-size:0.282rem;
}

#nav_ul li a{
	font-family:"MS Serif", "New York", serif;
    font-size: 0.3rem;
	display:block;
	text-align:center;
	margin:0 ;
	padding:0.234rem 0.117rem;
	width:0.820rem;
	height:0.468rem;
	color:#303;
	font-family:Tahoma, Geneva, sans-serif;

}
/* -----------------------------------导航控制项----- ---------------------------------------- */
@media screen and (max-width:980px){
	#header{
		height: 2rem;
	
	}
	#nav_ul{
		width:100%;
		background-color: rgb(204, 204, 204);
		list-style:none;
		margin:0;
		padding:0;
		height: 100%;
		float:right;
	}
	#nav_ul li{
		display: inline-block;
		list-style:none;
		margin:0;
		width:3.2rem;
		height: 100%;
		text-align:center;	
	}
	
	#nav_ul li a{

		display:inline-block;
		font-size:0.4rem;
		margin:0 ;
		padding:0.7rem 0;
		width:100%;	
		height:auto;
		color:#303;
		font-family:Tahoma, Geneva, sans-serif;
	}
	#quit{
		display: none;
	}
}
/* ---------------------------------------- ---------------------------------------- */
#show_more_li{
	position: relative;
}
#show_more{

  font-size:10px;
  position: absolute;
  right: 0.5rem;
  display: none;
  opacity: 0.9;
  width:0.5rem;
  z-index: 998;
}

#show_more_li img{

  position: absolute;
  top:0.65rem;
  width: 0.234rem;
  height: 0.234rem;
  z-index: 998;
}

#show_more li{
	border-radius: 4px;
  background-color: #FFF;
  float:left;
	width: 1.2rem;
	list-style:none;
	padding:0;
	margin:0;

}
#show_more li a{
  font-family:"MS Serif", "New York", serif;
  display:block;
  width:auto;
  font-size: 0.2rem;
  height: 0.3rem;
  margin:1px auto ;
  padding:0 0.117rem;
  color:#303;
}
#show_more li a:hover{
  background-color: #AAA;
}
/*-----------------------------------更多按钮控制项----------------------------------  */
@media screen and (max-width:980px){
	#show_more_li{
		position: relative;
	}
	#show_more{
	
	  font-size:10px;
	  position: absolute;
	  right: 1.4rem;
	  display: none;
	  opacity: 0.9;
	  width:0.9rem;
	  z-index: 998;
	}
	
	#show_more_li img{
	
	  position: absolute;
	  top:1.4rem;
	  width: 0.334rem;
	  height: 0.334rem;
	  z-index: 998;
	}
	
	#show_more li{
	  border-radius: 0;
	  background-color: #FFF;
		width:2.5rem;
		list-style:none;
		padding:0;
		margin:0;
	
	}
	#show_more li a{
	  font-family:"MS Serif", "New York", serif;
	  display:block;
	  width:100%;
	  height: 100%;
	  margin:0 auto ;
	  padding:0;
	  color:#303;
	  font-size:0.21rem;
	
	}
	#show_more li a:hover{
	  background-color: #AAA;
	}
}
#logined_li{

		margin:0;
		padding:0;
		position:relative;
	}
#logined_li ul{
	position:absolute;
	z-index:1;
	opacity:0.9;
	left:-0.234rem;
	display:none;
	padding:0;
	border-radius:1px;

	}
	#arrows{
		display: inline-block;
		position: absolute;
		top: 0.6rem;
		margin: 0;
		padding: 0;
		
	}
	
#logined_li ul li{
	float:left;
	background-color: #6FF;
	text-indent:0.0588rem;
	width:1.3rem;
	height: 0.3rem;
	border:1px solid #CCC;
	}
#logined_li ul li a{
	text-align:center;
	 width:1.3rem;
	 font-size: 0.2rem;
	 margin: 0;
	padding: 0;
	 height:0.0588rem;
	}
@media (max-width:980px){
	#logined_li{
		
				margin:0;
				padding:0;
				position:relative;
			}
		#logined_li ul{
			position:absolute;
			
			z-index:1;
			opacity:0.9;
			left:0.5rem;
			display:none;
			padding:0;
			margin: 0;
			border-radius:1px;
		
			}
		#arrows{
			width:0.5rem;
			height: 0.5rem;
			display: inline-block;
			position: absolute;
			top: 1.4rem;
			
		}		
		#logined_li ul li{
			height: 0.4rem;
			width:2rem;
			padding: 0;
			margin: 0;
		
			border:1px solid rgb(197, 182, 182);
			}
		#logined_li ul li a{
			font-size:10px;
		     margin: 0;
			 width:100%;
			 padding: 0;
			 
			 height:0.4rem;
			}
}
#quit{
	opacity:0.7;
	display: none;
	border-radius:1px;
	margin:0.585rem 0 0 0.234rem;
	}
#login_header{

	width:0.351rem;
	height:0.702rem;
	background-color:#F33;
	background-image:url(../images/middle.jpg);
	text-align:center;
	border-radius:0.0588rem;
	transition:border-radius 2s,width 1s,height 2s;
	}
#login_header:hover{
	width:0.702rem;
	height:0.351rem;

}
#show_ul li:hover{
	background-color: #3366CC;
}
#hint{
	font-size: 0.2rem;
	position: absolute;
	
	color: rgb(29, 25, 25);
	padding: 5px;
	border-radius: 4px;
	border: 1px solid #309; 
	border-left-style: dashed;
	top: 0.937rem;
	left: 7rem;
	animation: hint 10s;
}
@keyframes hint{
	1%{top: 0.9rem}
	30%{top: 0.2rem}	
}

#logo1 {
	width:1.556rem;
	height:0.937rem;
	opacity:0.8;
	background-color:#0F9;
	margin:0;
	margin-left: 2.4rem;
	padding: 0;
	border-radius:0.0588rem;
	animation: logo1 5s infinite;
}
@keyframes logo1{
	1%{margin-left: 2.4rem;}
	30%{margin-left: 2.9rem;}
	70%{margin-left: 2.9rem;}
	100%{margin-left: 2.4rem;}
}
#bomb{
	display: inline-block;
	cursor: pointer;
	width:1.556rem;
	height:0.937rem;
	animation: logo2 10s infinite;
	overflow: hidden;
	
}
.bomb_img{
	background-image: url(../images/logo/logo2.png);
	position: absolute;
}
@keyframes bomb_left1{
	1%{
		top: 0.1rem;
		left: 0.2rem;
	}
	100%{
		top: -0.4rem;
		left: -0.6rem;
	
	}
}
@keyframes bomb_left2{
	1%{
		top: 0.4rem;
		left: 0.2rem;
	}
	100%{
		top: 0.4rem;
		left: -0.6rem;
		
	}
}
@keyframes bomb_left7{
	1%{
		top: 0.2rem;
		left: 0.6rem;
	}

	70%{
		top: -0.1rem;
		left: 0.6rem;
	}
	100%{
		top: 1.4rem;
		left: 0.6rem;
		
	}
}
@keyframes bomb_left3{
	1%{
		top: 0.4rem;
		left: 0.6rem;
	}
	100%{
		top: 1.2rem;
		left: -0.6rem;
		
	}
}
@keyframes bomb_left4{
	1%{
		top: 0.4rem;
		left: 0.6rem;
	}
	100%{
		top: 1.2rem;
		left: 1.6rem;
		
	}
}
@keyframes bomb_left5{
	1%{
		top: 0.7rem;
		left: 0.8rem;
	}
	100%{
		top: 0.4rem;
		left: 1.6rem;
		
	}
}
@keyframes bomb_left6{
	1%{
		top: 0.2rem;
		left: 0.9rem;
	}
	100%{
		top: -0.4rem;
		left: 1.6rem;
		
	}
}

#logo2 {
	width:1.556rem;
	height:0.937rem;
	opacity:0.8;
	background-color:#0F9;
	margin:0;
	padding: 0;
	
	border-radius:0.0588rem;
	
}
@keyframes logo2{
	1%{margin-left: 0;}
	10%{margin-left: 0.5rem;}
	50%{margin-left: 1rem;}
	80%{transform: rotateY(180deg);}
	100%{margin-left: 0;}
}
/*---------------------------------------------------------------------  */
@media screen and (max-width:980px){
	#logo1,#logo2,#bomb{
		display: none;
	}
	#hint{
		display: none;
	}
}
#middle{
	width:70%;
	height:6.856rem;
	background-image:url(../images/middle.jpg);
	position:absolute;
	left:15%;
	border-radius:0.117rem;

	}
#mid_u1{
	width:100%;
	min-width:10.541rem;
	height:auto;
	margin:0;
	padding:0;
}
#mid_u1 li{
	list-style:none;
	float:left;
}
#bar{
	padding: 0;
	margin: 0;
	width:7.5rem;
	position: absolute;
	height:4.2rem;
	overflow:hidden;
}
.barrage{
	position: absolute;
	padding: 0;
	margin: 0;
	color: #FFF;
	font-size: 0.3em;
	z-index: 1000;
	display: block;
	margin-top: 0.4rem;
	top: 1px;
	animation: barrage 10s;

}
#bar_input{
	width:4rem;
	font-size: 0.2em;
	margin: 0;
	margin-right: 0.1rem;
	border: 2px inset #000;
	border-right: none;
	margin-bottom: 1rem;
	padding: 0;
}

@keyframes barrage{
	from{
		left: 8rem;
	}
	to{
		left: -300px;
	}
}
#txt_clr{
	display: inline;
	margin: 0;
	padding: 0;
}
@media screen and (max-width:980px){
	#bar_input{
		display: none;
	}
	#bar_btn{
		display: none
	}
}
#mid_u1_l1_v1 {

	width:100%;
	height:100%;
	margin:0;
	padding:0;
	position: relative;
	border-radius: 0;
	z-index: 9;
	object-fit:fill;

}
#video_pause{
		width:0.585rem;
		height:0.585rem;
		opacity:0.7;
		position:absolute;
		bottom:2.405rem;
		right:4.1rem;
		z-index:999;
		cursor:pointer;
		display:none;
	}

#mid_u1_l1{
		width:67%;
		height:4.68rem;
		background-color:#0F6;
		background-image:url(../images/u1_l1.jpg);
		background:no-repeat;
		padding:0;
		margin:0.351rem 0 0 0;
		border-radius:0 0.234rem 0.234rem 0;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		display: block;
}
#mid_u1_l2{
		width:33%;
		height:5.270rem;
    font-size:0.2rem;
		padding:0;
		margin:0.351rem 0 0 0;
		border-radius:0.234rem;

}

#btn{
	width:0.585rem;
	height:0.585rem;
	background:#6FF;
	opacity:0.5;
	margin:0 auto;
	background-image:url(../images/play.png);
	border-radius:0.234rem;
	display:none;
}
#mid_u1_l2 div{

		width:70%;
		height:1.411rem;
		background-color:#C33;
		margin:0px 0 0.2rem 20%;
		padding:0;
		border-radius:0.117rem;
		position:relative;
		cursor:pointer;

	}

.videoimg{

			width:100%;
			height:100%;
			border-radius:0.234rem;

	}
.stdtag{
		display:none;
		position:absolute;
		bottom:0.294rem;

		color:#FFF;
	}
.stdcount{
		display:none;
		position:absolute;
		bottom:0.117rem;
        margin: 2px 0;

		color:#FFF;
}

#footer{

	width:11.127rem;
	height:0.937rem;
	border-radius:4px;
	background-color:#C33;
	display: none;
	position:absolute;
	top:6.793rem;
	left:15%;
	margin: 0.117rem 0;
	background-image:url(../images/header.jpg);

}
@media screen and (min-width:980px){
	.videoSouce{
		display: none;
	}

}
/* ---------------------------------------- ---------------------------------------- */
@media screen and (max-width:980px){
	#middle{
		width:100%;
		float: left;
		height:5.856rem;
		margin: 0;
		padding: 0;
		background-image:url(../images/middle.jpg);
		border-radius:0.117rem;
		position:absolute;
		left: 0;
		}
	.videoSouce{
		display: inline-block;
	}
	#mid_u1{
		width:100%;
		height:auto;
		margin:0;
		padding:0;
		
	}
	#mid_u1 li{
		list-style:none;
		float:left;
		
	}
	#mid_u1_l1_v1 {
	
		width:100%;
		height:100%;
		margin:0;
		padding:0;
		border-radius:0 0.234rem 0.234rem 0;
		object-fit:fill;
	
	}
	#video_pause{
			width:0.585rem;
			height:0.585rem;
			opacity:0.7;
			position:absolute;
			bottom:1.405rem;
			right:7.1rem;
			z-index:999;
			cursor:pointer;
			display:none;
		}
	#mid_u1_l1{
			width:60%;
			height:4.68rem;
			background-color:#0F6;
			background-image:url(../images/u1_l1.jpg);
			background:no-repeat;
			padding:0;
			margin:0.351rem 0 0 0;
			border-radius:0.234rem;
	}
	#mid_u1_l2{
			width:40%;
			height:100%;
		    font-size:0.2rem;
			padding:0;
			margin:0.151rem 0 0 0;
			border-radius:0.234rem;
	
	}
	
	#btn{
		width:0.585rem;
		height:0.585rem;
		background:#6FF;
		opacity:0.5;
		margin:0 auto;
		background-image:url(../images/play.png);
		border-radius:0.234rem;
		display:none;
	}
	#mid_u1_l2 div{
			float: left;
			width:40%;
			height:1.411rem;
			background-color:#C33;
			margin:0.2rem;
			margin-left: 0.3rem;
			margin-bottom: 0;
			padding:0;
			display: inline block;
			border-radius:0.117rem;
			position:relative;
			cursor:pointer;
		}
	.videoimg{
	
				width:100%;
				height:100%;
				border-radius:0.234rem;
		}
	.stdtag{
			display:none;
			position:absolute;
			bottom:0.294rem;
			color:#FFF;
		}
	.stdcount{
			display:none;
			position:absolute;
			bottom:0.117rem;
			margin: 2px 0;
			color:#FFF;
	}	
#footer{
	
		width:100%;
		height:0.937rem;
		border-radius:0;
		background-color:#C33;
		position:absolute;
		top:6.793rem;
		left:0;
		margin: 0.117rem 0;
		background-image:url(../images/header.jpg);
	
	}
}
/* ---------------------------------------- ---------------------------------------- */
#screen{
	z-index:998;
	position:absolute;
	opacity:0.3;
	top:0;
	left:0;
	display:none;
	background-color:#000;
}

#photo{
  font-size: 0.2rem;
	widows:10.541rem;

	position:absolute;
	top:8.235rem;
	left:15%;
	}
#photo dl{
	float:left;
	margin:0 0.234rem;
	padding:0;
	}
#photo dl img{
	width:2.34rem;
	height:1.787rem;
	cursor:pointer;
}
#show_img{
	 width:5.856rem;
	 height:5.856rem;
	 margin:0;
	 padding:0;
	 display:none;
	 border:1px solid #309;
	 z-index:999;
	 position:absolute;
	 top:30%;;
	 left:30%;
	}
#show_img h2{
		margin:0;
		width:5.856rem;
		padding:0;
		text-align:center;
		border:1px solid #63C;
		background-color:#FFF;
		}
#show_img img{
	 width:100%;
	 height:100%;
	}
#show_img h2 button{
		margin:0;
		padding:0;
		width:0.234rem;
		height:0.234rem;
		float:right;
	}
