@charset "utf-8";
/* CSS Document */

body{
	background-color:#69F;
	background-image:url(../images/regiter.jpg);
	background-size:100%;
	}

#login{
	background-color:#F66;
	background-image:url(../images/login.jpg);
	width:350px;
	height:230px;
	position:absolute;
	opacity:0.7;
	padding:50px 0 0 20px;
	border-radius:10px;
	left:35%;
	top:35%;
}
#submit{
	position:absolute;
	left:30%;
	padding:0;
	margin:0;
}
#regedit{
	position:absolute;
	left:59%;
	bottom:18%;
	}
#submit{
	width:60px;
	height:30px;
	font-style:oblique;
	font-size-adjust:inherit;
	border-radius:5px;
	bottom:9%;
}
#login_code{
	position:absolute;
	bottom:90px;
	margin:0 0 0 5px;
	cursor:pointer;
	
}