body{
  margin: 0;
  background-color: #CCC;
  background-image:url(../../u=2762965999,717909482&fm=27&gp=0.jpg);
  position: relative;
}

#upload_form{
  position: absolute;
  top: 200px;
  left: 40%;
}
