<!DOCTYPE html>
<html lang="en" ng-app="msg_board">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="javascript/angular.js"></script>
    <script type="text/javascript" async src="javascript/jquery.js"></script>
    <script type="text/javascript"   src="javascript/msg_board.js"></script>
    <link rel="stylesheet" type="text/css" href="css/msg_board.css">
    <script>
    </script>
    <title>msg_board</title>
</head>
<body ng-controller="main" >
    
    <div id="header">
        <p id="username" data-ng-value="username"></p>
        <img id="head" src="images/p1.jpg" alt="head portrait">
     </div>
     <h2><span>》</span> 热门评论 <span>《</span></h2>
     <div id="discuss" class="clearfix" ng-repeat="v in arr">
         <img id="user_head" src="images/p1.jpg" alt="user_head">
         <p id="user_id">{{v['user_id']}}</p> 
         <div id="pro">
            <img  id="thumb" src="images/p1.jpg" alt="点赞" ng-click="countPro()">
            <p><strong>{{v['pro_count']}}</strong>人赞过</p>
         </div>
         <p id="text">{{v['user_comment']}}</p>
        <p class="time">{{v['user_date']}}</p>
     </div> 
    <div id="footer" class="footer">
        <textarea name="comment" id="comment" cols="30" rows="10" ng-model="comment"></textarea>
        <button class="submit" ng-click="test()">submit</button>
    </div>
    
</body>
</html>