<!DOCTYPE html>
<html lang="en" ng-app="test">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="angular.js">
    
    </script>
    <style>
        .active{
            color: rgb(161, 161, 64);
        }
        div{
            width:200px;
            height: 200px;
            background-color: #CCC;
            display: none;
        }
        .cur{
            display: block;
        }
    </style>
    <script>
        let mod=angular.module('test',[]);
         mod.controller('main',function($scope){
                $scope.now=0;
                $scope.arr={
                    "button1":'lisa',
                    "button2":'ken',
                    "button3":'ann'
                };
                $scope.setV=function(num){
                    $scope.now=num;
                }
         });
    </script>
    <title>Document</title>
</head>
<body ng-controller="main">
<input type="button" ng-repeat="(k,v) in arr" value="{{k}}" class="{{$index==now?'active':''}}" ng-click="setV($index)">
<div ng-repeat="v in arr" class="{{$index==now?'cur':''}}">{{v}}</div>
</body>
</html>