<!DOCTYPE html>
<html ng-app="test">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>post</title>
    <script src="angular.js"></script>
    <script >
        
      let mod=angular.module('test',[]);
      mod.config(function($httpProvider){
            $httpProvider.defaults.transformRequest=function(data){
                let arr=[];
                            for(let name in data){
                                arr.push(name+'='+data[name])
                            }
                           
                           return arr.join("&");
            }
      });
          mod.controller('main',function($http,$scope){
              
             
              $scope.cal=function(){
                    $http({
                        method:'post',
                        url:'post.php',
                        data:{
                            a:$scope.a,
                            b:$scope.b
                             },
                        headers:{'Content-Type':'application/x-www-form-urlencoded'}
                       

                            }).then((res)=>{
                     alert(res.data);
                    },(err)=>{
                     alert('error');
                      });
            
               } 
               
          });
          
    </script>
</head>
<body ng-controller="main">
    <input type="text" ng-model="a">
    <input type="text" ng-model="b">
    <input type="button" value="calculator" ng-click="cal()">
</body>
</html>